.about img{
    position: relative;
    left: 12%;
    margin-top: 20px;
width: 100%;
}
.about{
    overflow: hidden;
}
.aboutContent{
    position: absolute;
    top: 8rem;
    left: 3%;
    text-align: center;
    width: 30%;
}
.aboutContent h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;

}
.aboutContent h1 span{
    color: #0bdaff;
    font-size: 5rem;
    margin-left: -10px;
}

.aboutContent1{
    position: absolute;
    top:25rem;
    left: 15%;
    text-align: center;
    width: 30%;
}
.aboutContent1 h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;

}
.aboutContent1 h1 span{
    color: #0bdaff;
    font-size: 5rem;
    margin-left: -10px;
}
.aboutContent2{
    position: absolute;
    top: 40rem;
    left: 1%;
    text-align: center;
    width: 30%;
}
.aboutContent2 h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;

}
.aboutContent2 h1 span{
    color: #0bdaff;
    font-size: 5rem;
    margin-left: -10px;
}
.aboutContent,.aboutContent2,.aboutContent1 p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}