.homeContent{
    position: absolute;
    top: 12rem;
    left: 2%;
    text-align: center;
    width: 40%;
}
.homeContent h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;

}
.homeContent h1 span{
    color: #0bdaff;
    font-size: 5rem;
    margin-left: -10px;
}
.homeContent p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}