.serviceContent{
    position: absolute;
    top: 8rem;
    left: 3%;
    text-align: center;
    width: 30%;
}
.serviceContent h1{
    text-align: left;
    font-size: 5rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    line-height: 1;
}
.serviceContent h1 span{
    color: #03aecc;
    font-size: 5rem;
    margin-left: 10px;
}
.serviceContent p{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}
.servicePoint{

    display: flex;
    text-align: center;
    width: 30%;
    align-items: center;
    padding:10px 50px;
}
.line{
border-bottom: 2px solid #03aecc;
width: 30px;
}
.dataPoint{
    padding: 5px;
    border: #03aecc 2px solid;
    border-radius: 15px;
    font-size: 1.2rem;
}

.serviceSet{
    position: relative;
    margin-top:-25rem;
}