.userDetail{

    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.userDetail input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
   font-size: 1em;
}
.field{
    padding: 10px;
    width: 50%;
}
.fieldFull{
    padding: 10px;
    width: 100%;
}
.headField{
    display: flex;
    width: 100%;
}

.question{
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;

}